/**
 * Some basics so that this doesn't look so default-y
 *
 * Note that the formatting may look weird, but we're trying to do things as
 * recommended by Stylelint (gwyneth 20230425)
 */
body {
  background-color: ivory;
  font-family: "Work Sans", ui-sans-serif, sans-serif;
  font-size: 10px;
  line-height: normal;
  margin: 0;
  padding: 12px 0;
  word-wrap: break-word;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  margin: 0;
}

button,
input,
optgroup,
select,
textarea {
  background-color: aliceblue;
  color: darkblue;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

h1 {
  color: navy;
  font-size: 1.2rem;
}

input {
  line-height: normal;
  font-size: 1em;
  font-weight: normal;
  padding: 0 3px;
  vertical-align: middle;
}

p {
  color: darkslategray;
  padding-bottom: 0.5em;
}

textarea {
  font-size: 1em;
  line-height: 1.4em;
  overflow: auto;
  padding: 2px;
  width: 60%;
}

.panel {
  border-radius: 7px;
  margin-bottom: 4px;
  padding: 5px 10px;
}

h3.panel {
  margin: 0.5em 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

fieldset dl {
  overflow: hidden;
  padding: 4px 0;
}

fieldset dt {
  display: block;
  float: left;
  text-align: left;
  width: 40%;
}

fieldset dd {
  margin-bottom: 3px;
  margin-left: 41%;
  vertical-align: top;
}

fieldset.fields1 dd {
  border-left-width: 0;
  margin-left: 15em;
}

fieldset.fields1 div {
  margin-bottom: 3px;
}

fieldset.fields1 dt {
  border-right-width: 0;
  width: 15em;
}

.inputbox {
  border: 1px solid transparent;
  padding: 2px;
}

/* Submit button fieldset */
fieldset.submit-buttons {
  margin: 5px 0;
  text-align: center;
  vertical-align: middle;
}

dd input,
dd textarea {
  margin-right: 3px;
}

fieldset.submit-buttons input {
  vertical-align: middle;
}

label {
/*  color: #425067; */
  cursor: default;
  padding-right: 5px;
}

dt label {
  font-weight: bold;
  text-align: left;
}

input.inputbox {
  width: 85%;
}

.autowidth {
  width: auto !important;
}

.message-box {
  width: 80%;
}

textarea.inputbox {
  width: 85%;
}

.message-box textarea {
  box-sizing: border-box;
  font-size: 1.2em;
  height: 270px;
  max-width: 100%;
  min-width: 100%;
  outline-offset: -4px;
  outline: 3px dashed transparent;
  resize: vertical;
  transition:
    all 0.5s ease,
    height 1ms linear;
  width: 450px;
}

.clearfix,
.polls,
.topiclist dl {
  overflow: hidden;
}

.action-bar::after,
.inner::after,
.linklist,
.minitabs > ul::after,
.notification-text::after,
.postprofile .avatar-container::after,
.tabs > ul::after,
.tabs-container::after {
  clear: both;
  content: "";
  display: block;
}
