/* Some basics so that this doesn't look so default-y */
body {
  background-color: ivory;
  font-family: "Work Sans", ui-sans-serif, sans-serif;
  font-size: 10px;
  line-height: normal;
  margin: 0;
  padding: 12px 0;
  word-wrap: break-word;
}

h1 {
  color: navy;
  font-size: 1.2rem;
}

p {
  color: darkslategray;
  padding-bottom: 0.5em;
}

/* CSS below comes from phpBB3 directly */
.panel {
  border-radius: 7px;
  margin-bottom: 4px;
  padding: 5px 10px;
}

.panel h3 {
  margin: 0.5em 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

fieldset dl {
  padding: 4px 0;
}

fieldset.fields1 dt {
  border-right-width: 0;
  width: 15em;
}

fieldset.fields1 div {
  margin-bottom: 3px;
}

fieldset dt {
  display: block;
  float: left;
  text-align: left;
  width: 40%;
}

fieldset.fields1 dd {
  border-left-width: 0;
  margin-left: 15em;
}

fieldset dd {
  margin-bottom: 3px;
  margin-left: 41%;
  vertical-align: top;
}

/* Submit button fieldset */
fieldset.submit-buttons {
  margin: 5px 0;
  text-align: center;
  vertical-align: middle;
}

fieldset.submit-buttons input {
  vertical-align: middle;
}

dt label {
  font-weight: bold;
  text-align: left;
}

/* label {
  color: #425067;
} */

label {
  cursor: default;
  padding-right: 5px;
}

input.inputbox {
  width: 85%;
}

.autowidth {
  width: auto !important;
}

.inputbox {
  border: 1px solid transparent;
  padding: 2px;
}

dd input,
dd textarea {
  margin-right: 3px;
}

input {
  font-size: 1em;
  font-weight: normal;
  padding: 0 3px;
  vertical-align: middle;
}

button,
input,
optgroup,
select,
textarea {
  background-color: aliceblue;
  color: darkblue;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input {
  line-height: normal;
}

.message-box {
  width: 80%;
}

textarea.inputbox {
  width: 85%;
}

.message-box textarea {
  box-sizing: border-box;
  font-size: 1.2em;
  height: 270px;
  max-width: 100%;
  min-width: 100%;
  outline-offset: -4px;
  outline: 3px dashed transparent;
  resize: vertical;
  transition:
    all 0.5s ease,
    height 1ms linear;
  width: 450px;
}

.inputbox {
  border: 1px solid transparent;
  padding: 2px;
}

textarea {
  font-size: 1em;
  line-height: 1.4em;
  overflow: auto;
  padding: 2px;
  width: 60%;
}

.clearfix,
dl.polls,
fieldset dl,
ul.topiclist dl {
  overflow: hidden;
}

.action-bar:after,
.inner:after,
.minitabs > ul:after,
.notification_text:after,
.postprofile .avatar-container:after,
.tabs > ul:after,
.tabs-container:after,
ul.linklist:after {
  clear: both;
  content: "";
  display: block;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  margin: 0;
}
